* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'montserrat', sans-serif;
}

input:not([type = "radio"]):not([type = "checkbox"]), button {
   appearance: none;
   border: none;
   outline: none;
   background: none;
   cursor: initial;
}

body {
   background: #f1eff5;
   color: #000;
}

section {
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}

h3 {
   color: #000;
   font-size: 1rem;
   font-weight: 400;
   margin-bottom: 0.5rem;
}

h4 {
   color: #1d1d1e;
   font-size: 0.875rem;
   font-weight: 700;
   margin-bottom: 0.5rem;
}

.greeting .title {
   display: flex;
}

.greeting .title input {
   margin-left: 0.5rem;
   flex: 1 1 0%;
   min-width: 0;
}

.greeting .title,
.greeting .title input {
   color: #000;
   font-size: 1.5rem;
   font-weight: 700;
}

.create-todo input[type="text"] {
   display: block;
   width: 100%;
   font-size: 1.125rem;
   padding: 1rem 1.5rem;
   color: #000;
   background-color:#FFF;
   border-radius: 0.5rem;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
   margin-bottom: 1.5rem;
}

.create-todo .options {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
   margin-bottom: 1.5rem;
}

.create-todo .options label {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1.5rem;
   background-color: #FFF;
   border-radius: 0.5rem;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
   cursor: pointer;
}

input[type = "radio"], 
input[type = "checkbox"] {
   display: none;
}

.bubble {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 2px solid rgb(0, 0, 255);
   box-shadow: 0px 0px 4px rgb(0, 0, 255);
}

.bubble.personal {
   border-color: rgb(255, 0, 0);
   box-shadow: 0px 0px 4px rgb(255, 0, 0);
}

.bubble::after {
   content: "";
   display: block;
   opacity: 0;
   width: 0px;
   height: 0px;
   background-color: rgb(0, 0, 255);
   box-shadow: 0px 0px 4px rgb(0, 0, 255);
   border-radius: 50%;
   transition: 0.2s ease-in-out;
}

.bubble.personal::after {
   background-color: rgb(255, 0, 0);
   box-shadow: 0px 0px 4px rgb(255, 0, 0);
}

input:checked ~ .bubble::after {
   width: 10px;
   height: 10px;
   opacity: 1;
}

.create-todo .options label div {
   color: #292929;
   font-size: 1.125rem;
   margin-top: 1rem;
}

.create-todo input[type = "submit"] {
   display: block;
   width: 100%;
   align-items: center;
   font-size: 1.125rem;
   padding: 1rem 1.5rem;
   color: #FFF;
   background-color: #252525;
   border-radius: 0.5rem;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.532);
   cursor: pointer;
   transition: 0.2s ease-in-out;
}

.create-todo input[type = "submit"]:hover {
   opacity: 0.85;
}

.todo-list .list {
   margin: 1rem 0;
}

.todo-list .todo-item {
   display: flex;
   align-items: center;
   background-color: #FFF;
   padding: 1rem;
   border-radius: 0.5rem;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.303);
   margin-bottom: 1rem;
}

.todo-item label {
   display: block;
   margin-right: 1rem;
   cursor: pointer;
}

.todo-item .todo-content {
   flex: 1 1 0%;
}

.todo-item .todo-content input {
   color: #000;
   font-size: 1.125rem;
}

.todo-item .actions {
   display: flex;
   align-items: center;
}

.todo-item .actions button {
   display: block;
   padding: 0.5rem;
   border-radius: 0.25rem;
   color: #FFF;
   cursor: pointer;
   transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
   opacity: 0.75;
}

.todo-item .actions .edit {
   margin-right: 0.5rem;
   background-color: #272629;
}

.todo-item .actions .delete {
   background-color: #e2462b;
}

.todo-item.done .todo-content input {
   text-decoration: line-through;
   color: #252525;
}
@media (max-width: 768px) {

   .todo-item {
      flex-direction: column;
      align-items: flex-start;
   }

   .todo-item label {
      margin-bottom: 1rem;
   }
   .todo-item .todo-content input {
      padding: 10px;
   }
}